<div class="w-full h-full overflow-auto flex flex-col gap-2">
<div class="rounded-2xl bg-primary-300 p-3 flex items-center">
 <div class="gap-3 w-[70%] p-4">
    <p class="font-extrabold text-xl">Welcome back Akintunde</p>
    <p class="text-md  font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ipsa magni, repudiandae nobis ipsam reiciendis odit sunt dicta nihil aspernatur animi impedit quas. Sapiente perspiciatis ab corporis ratione dolorum deleniti.</p>
 </div>
 <div class="overflow-hidden rounded-lg w-[30%]">
    <img [src]="getSvg('img2.svg',true)" class="object-contain w-[60%]"/>
</div>
</div>

 <div class=" bg-white p-4 m-2 rounded-lg flex flex-row gap-6 ">

    <div class="bg-primary-100 items-center p-4 flex gap-[2px] text-primary-400 rounded-2xl">
        @for (item of taskSummaryData; track item; let index= $index) 
        {
            <svg ngClass="" class="w-6 h-6 text-{{item.other}}-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                <path d="M18 17v-2h1a1 1 0 0 0 0-2h-1a6 6 0 0 0-.4-1H17a2 2 0 0 0 2-2V8a1 1 0 0 0-2 0v2h-.5l-.5-.5V8a4 4 0 0 0-1-2.6l.7-.7c.2-.2.3-.4.3-.7V3a1 1 0 0 0-2 0v.6l-.7.6c-.8-.3-1.8-.3-2.6 0l-.7-.6V3a1 1 0 0 0-2 0v1c0 .3.1.5.3.7l.7.7A4 4 0 0 0 8 8v1.5l-.5.5H7V8a1 1 0 0 0-2 0v2a2 2 0 0 0 2 2h-.7a6 6 0 0 0-.2 1H5a1 1 0 0 0 0 2h1v2a2 2 0 0 0-2 2v2a1 1 0 1 0 2 0v-2h.8a6 6 0 0 0 4.2 3V12a1 1 0 0 1 2 0v10a6 6 0 0 0 4.2-3h.8v2a1 1 0 0 0 2 0v-2a2 2 0 0 0-2-2Zm-4-8.7a5.5 5.5 0 0 0-3-.3v.1a6 6 0 0 0-1 .3V8a2 2 0 1 1 4 0v.3Z"/>
            </svg>
            <span class="cursor-pointer mt-3 uppercase text-xs text-primary-darkest font-bold relative mr-3">
                {{item.key}}
                <span class="absolute inline-flex items-center justify-center w-6 h-6  font-bold  rounded-full -top-5 -end-4 dark:border-gray-900 bg-{{item.other}}-500 text-white  text-xs " >{{item.value}}</span>
            </span>
        }
    </div>

 


</div>
<button class="btn" (click)="showSuccess()">ShowNotif</button>