@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .btn{
    @apply bg-control text-white rounded-xl p-2 shadow-sm cursor-pointer
  }
  .tb{
    @apply  focus:text-primary-darkest
             focus:border-primary-400
              focus:outline-0
               focus:shadow-utility
                appearance-none
                 rounded-lg p-2.5
                  text-sm font-light
                   text-primary-darkest
                    bg-white bg-clip-padding
                     border border-solid
                      border-primary-200

                      
           
                

  }
