<div  class="container h-full p-2 "> 
    <span class="font-semibold text-gray-400 m-2">Task(s)</span>
    <div class="justify-end flex">
        <button class="btn w-20" (click)="task=xchangeservice.initTaskObj();show=true">New</button>
    </div>
    <hr class="h-px my-4 bg-primary-200 border-0 dark:bg-gray-700">
      <!-- Items -->
      <div class="p-4  grid grid-cols-1  md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"> 
        @for (item of obj.taskObjs; track item; let index= $index) {
             <div class=" bg-white rounded-lg shadow-lg p-4 mx-2 ">
                <div class="flex justify-between">
                    <span class="text-sm text-primary-400 flex items-center">
                     {{item.code}}
                    </span> 
                    <span class="text-sm text-primary-400 flex items-center">
                     @if (item.projectType==projectTypeEnum.backend) {
                         <img [src]="getSvg('backend.svg')" pTooltip="Backend-End App" tooltipPosition="top" class="object-contain"/>
                     }
                     @else if(item.projectType==projectTypeEnum.frontend) {
                         <img [src]="getSvg('frontend.svg')" pTooltip="Front-End App" tooltipPosition="top" class="object-contain"/>
                     }
                     @else if(item.projectType==projectTypeEnum.full) {
                         <img [src]="getSvg('fullstack.svg')" pTooltip="Full-Stack App" tooltipPosition="top"  class="object-contain"/>
                     }
                     @else  {
                         <img [src]="getSvg('mobile.svg')" pTooltip="Mobile App" tooltipPosition="top"  class="object-contain"/>
                     }
                    </span>
                    <img [src]="item.currentStatus==statusEnum.completed ?getSvg('unlock.svg'):getSvg('lock.svg')" class="object-contain"/>
                 </div>
                 <div class="flex  mt-1">
                        <svg class="w-8 h-8 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" aria-hidden="true">
                            <path
                                d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
                            </path>
                        </svg>
                        <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">{{item.name}}</h3>
                    </div>
                    <p class="my-2 text-primary-300">{{item.description}} </p>
                    <hr class="h-px my-4 bg-primary-200 border-0 dark:bg-gray-700">
     
                 <div class="flex justify-between">
                     <div class="flex items-center gap-2">
                         <img [src]="getSvg('clock.svg')" class="object-contain"/>
                         <p class="text-primary-400 ">
                             {{item.createdAt|date: 'dd/MM/yyyy'}}
                          </p>
                     </div>
                     <img [src]="getSvg('edit.svg')" (click)="task=item;show=true" class="object-contain cursor-pointer w-[30px]"/>
                 </div>
              </div>
         }
      </div>
</div>
<p-sidebar *ngIf="task" [(visible)]="show"  (onHide)="onHide()" position="right">
    <ng-template pTemplate="header">{{task?.state==ObjState.unchanged?"Update Task":"New Task" }}</ng-template>
    <ng-template pTemplate="content">
       <div  class="container h-full p-2 "> 
        <form #fm="ngForm">
           <div class="form-control-group" #frmControlName>
                   <label for="name" class="form-control-label">Name:</label>
                   <input type="text" frm-ctrl-val [minLen]=3 [blockLeadTrailSpace]="true" [parent]="frmControlName" [valueRequired]="true" id="name" name="name" #name="ngModel" [(ngModel)]="task.name" placeholder="Project name"  class="form-control-input">
           </div>
           <div class="form-control-group" #frmControlDescription>
               <label for="description" class="form-control-label">Description:</label>
               <textarea frm-ctrl-val [parent]="frmControlDescription" [minLen]=5 [minLenError]="'Description  be more than 5 characters'"  type="text" id="name" name="description" #description="ngModel" [(ngModel)]="task.description" placeholder="Project description" required minlength="1" maxlength="250" class="form-control-input">
               </textarea>
           </div>
   
           <div class="form-control-group" #frmControlproject>
               <label for="project" class="form-control-label">Project:</label>
               <p-dropdown id="project" class="w-full" name="project" #project="ngModel" [options]="projectTypeEnumOptions" [(ngModel)]=" task.project" optionLabel="name" optionValue="value"  placeholder="Select Project"></p-dropdown>
           </div>
           <div class="form-control-group" #frmControlactor>
                <label for="actor" class="form-control-label">Actor:</label>
                <p-dropdown id="actor" class="w-full" name="actor" #actor="ngModel" [options]="projectTypeEnumOptions" [(ngModel)]=" task.actor" optionLabel="name" optionValue="value"  placeholder="Select Actor"></p-dropdown>
           </div>
           <div class="form-control-group" #frmControltaskType>
                <label for="taskType" class="form-control-label">Task Type:</label>
                <p-dropdown id="taskType" class="w-full" name="taskType" #taskType="ngModel" [options]="projectTypeEnumOptions" [(ngModel)]=" task.taskType" optionLabel="name" optionValue="value"  placeholder="Select Type"></p-dropdown>
           </div>
           <div class="form-control-group" >
                <label for="allowPoint" class="form-control-label">Allow Point:</label>
                <p-inputSwitch name="allowPoint"  [(ngModel)]="task.allowPoint"></p-inputSwitch>
           </div>
           <div *ngIf="task.allowPoint" class="form-control-group" #frmControltaskPoint>
                <label for="taskPoint" class="form-control-label">Point:</label>
                <input type="text"  frm-ctrl-val [minLen]=1 [blockLeadTrailSpace]="true" [parent]="frmControltaskPoint"  id="taskPoint" name="taskPoint" #taskPoint="ngModel" [(ngModel)]="task.taskPoint" placeholder="Task point"  class="form-control-input">
           </div>
           <div class="flex justify-end w-full">
               <button type="submit" class="btn w-24" [ngClass]="{'disable':fm.invalid}" (click)="done()">Save</button>
           </div>
        </form>
       </div>
    </ng-template>
</p-sidebar>